@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
:root {
  --primary: #4eb883;
  --secondary: #e9f9f4;
}
#app {
  font-family: "Montserrat", sans-serif;
}
.router-link-exact-active {
  font-weight: bold;
}
.btn-success {
  background-color: var(--primary);
}
.bg-success {
  background-color: var(--primary);
}
.card-product {
  border-radius: 15px;
}
.card-img-top {
  border-top-left-radius: 15pc;
  border-top-right-radius: 15px;
}
